*
{
    padding: 0;
    font-family: sans-serif;
}
body
{
    align-items: center;
}
h1
{
    text-align: center;
}
p
{
    font-size: 20px;
}
a
{
    text-decoration: none;
    font-size: 20px;
}
ion-icon 
{
    color: blue;
    font-size: 20px;
}
